.rt-td {
    text-align: center;
}

.daySelect {
    width: 100px;
    margin-right: 10px;
}

.monthSelect {
    width: 100px;
}

.yearSelect {
    width: 100px;
    margin-left: 10px;
}

.react-date-picker__clear-button {
    visibility: hidden;
}

.react-date-picker__wrapper {
    background: white;
}

.roundedSwitchButton {
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
}

.roundedButton {
    border-radius: 2px;
    margin-right: 10px;
    width: 80px;
}

.upperDiv {
    padding-left: 20px;
    padding-bottom: 10px;
    background: linear-gradient(rgb(179, 217, 255, 1), rgb(179, 217, 255, 0));
}

.scheduleTable {
    height: 410px;
    overflow-y: auto;
}

.stationsChoiceDiv {
    display: flex;
    flex-wrap: wrap;
}

.fillerHeader {
    height: 15px;
}