.rt-td {
    text-align: center;
}

.daySelect {
    width: 100px;
    margin-right: 10px;
}

.monthSelect {
    width: 100px;
}

.yearSelect {
    width: 100px;
    margin-left: 10px;
}

.react-date-picker__clear-button {
    visibility: hidden;
}

.roundedSwitchButton {
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
}

.roundedButton {
    border-radius: 2px;
    margin-right: 10px;
    width: 70px;
}

.controlsDiv {
    margin-left: 20px;
}

.headerDiv {
    margin-left: 20px;
}

.scheduleTable {
    height: 410px;
    overflow-y: auto;
}